<!DOCTYPE html>
<html>
<head>
    <title>Temperature and Humidity</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
      <center><h1>Temperature and Humidity</h1></center>
        <div>
          <!-- <center><img src="/static/image.jpg" alt="Temperature and Humidity"></center> -->
          <center><img src = "{{ url_for('static',filename='image.jpg') }}"></center>
        </div>
      <div class="container">
        
        <center><a href="/download" class="button">Download CSV</a></center>
    </div>
    </div>
</body>
</html>
