body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #444;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1600px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #555;
}